.jumbotron{
	background-color: rgb(155, 28, 77);
	color: black;
	margin-top: 50px;
}
.btn{
	color: rgb(243, 247, 243);
	background-color: rgb(8, 8, 245);
}

footer{
	
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-hotel{
	flex: 1 50px;
	padding: 2px 7px 2px 7px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-reserva{
	width: 100%;
	border-radius: 50px;
}

.footer-address-icon{
	padding-right: 10px;
}

.btn-enviar{
	margin-top: 10px;
}

.tab-content{
	padding-top: 20px;
}




