$purple: #9b1c4d; 
$yellow: #0a0a00;
$blue: #0808f5;

@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}



.jumbotron{
	background-color: $purple;
	color: black;
	@include margenes(50px, 20px);
}
.btn{
	color: rgb(243, 247, 243);
	background-color: $blue;
}

footer{
	
    background-color: $yellow;
    @include margenes(20px,0px )
	
}

.card-hotel{
	flex: 1 50px;
	padding: 2px 7px 2px 7px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-reserva{
	width: 100%;
	border-radius: 50px;
}

.footer-address-icon{
	padding-right: 10px;
}

.btn-enviar{
	margin-top: 10px;
}

.tab-content{
	padding-top: 20px;
}