@purple: #9b1c4d;
@blue: #0808f5;
@yellow: #ffff00;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@t:0px,@r:0px,@b:0px,@l:0px){
    padding: @t @r @b @l;
}

.jumbotron {
    background-color: @purple;
    color: black;
    .margenes(50px, 20px); 
    }
  
  .btn {
    color: #f3f7f3;
    background-color: @blue; }
  
  footer {
    background-color: @yellow;
    .margenes(20px, 0px);
    }

  
  .card-hotel {
    flex: 1 50px;
    .paddings(2px,7px,2px,7px);
    margin-top: 20px;
    margin-bottom: 20px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 50px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .btn-enviar {
    margin-top: 10px; }
  
  .tab-content {
    padding-top: 20px; 
  }