.jumbotron {
  background-color: #9b1c4d;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
.btn {
  color: #f3f7f3;
  background-color: #0808f5;
}
footer {
  background-color: #ffff00;
  margin-top: 20px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 50px;
  padding: 2px 7px 2px 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-reserva {
  width: 100%;
  border-radius: 50px;
}
.footer-address-icon {
  padding-right: 10px;
}
.btn-enviar {
  margin-top: 10px;
}
.tab-content {
  padding-top: 20px;
}
